*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body{
    background-color: #131313;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
nav{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
}
nav h2{
    margin-left: 26px;
    font-weight: 700;
    margin-top: 5px;
    cursor: pointer;
}
ul{
    list-style: none;
    display: flex;
    gap: 125px;
    margin-right: 27px;
    margin-top: 10px;
}
ul li{
    font-weight: 600;
    transition: ease-in-out 0.2s;
}
.content{
    color:white;
    margin-top: 130px;
    margin-left: 155px;
    padding: 45px;
}
.content p {
    margin-top: 55px;
    margin-bottom: 55px;
}
.content h2{
    text-transform: capitalize;
    font-size: 35px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(45deg, rgb(86, 136, 243),rgba(5, 36, 104, 0.712));
}
    
.contacts{
    color: white;
    font-size: 25px ;
    position: absolute;
    top: 93%;
    /* bottom: 0; */
    left: 40%;
    display: flex;
    gap:25px;
}
ul a{
    transition:  ease-in-out 0.2s;
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.btn{
    color: white;
    background-color: rgb(37, 112, 252);
    width: 150px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    margin-top: 16px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.btn:hover{
    background-color:rgb(99, 154, 255) ;
}
.btn:active{
    background-color: rgb(9, 66, 172);
}
nav a{
    font-size: 18px;
}
img{
    width: 350px;
    height: 360px;
    position: relative;
    top: -60px;
    left: 35px;
    border-radius:50%;
}
.shape{
   border-radius: 50%;
   position: absolute;
   left: 55%;
   top:35%;
   border: none;
   /* bottom: 250px; */
}
ul li a:hover {
    color: rgb(0, 102, 255);
}
ul a:focus{
    background-color: rgba(59, 59, 59, 0.404);
    padding: 10px;
    border-radius: 5px;
}